@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
* {

}

p{
    font-family: 'DM Serif Text', serif;
    font-size: 20px;
    letter-spacing : 0.4px;
    color:rgb(4, 4, 55)
}